<!-- /src/views/partials/footer.ejs -->
<footer class="footer mt-auto bg-light">
  <div class="container text-center">
    <div>Creado con ❤️ por Diego Vidal del Rosal. Esta página es solo por diversión, espero que te guste!</div>
    Sígueme en mis redes:
    <div>
      <a href="https://x.com/profetalimon" target="_blank" rel="noopener noreferrer">
        <img
          src="https://img.freepik.com/vector-gratis/nuevo-diseno-icono-x-logotipo-twitter-2023_1017-45418.jpg?size=338&ext=jpg&ga=GA1.1.1413502914.1725148800&semt=ais_hybrid"
          alt="Twitter"
          style="width: 24px; height: 24px; margin-right: 10px"
        />
      </a>
      <a href="https://github.com/ProphetLemon" target="_blank" rel="noopener noreferrer">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/GitHub_Invertocat_Logo.svg/300px-GitHub_Invertocat_Logo.svg.png"
          alt="GitHub"
          style="width: 24px; height: 24px; margin-right: 10px; background-color: white"
        />
      </a>
      <a href="https://es.linkedin.com/in/diego-vidal-del-rosal" target="_blank" rel="noopener noreferrer">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/LinkedIn_icon.svg/480px-LinkedIn_icon.svg.png"
          alt="LinkedIn"
          style="width: 24px; height: 24px; margin-right: 10px"
        />
      </a>
      <!-- Añade otros enlaces a redes sociales aquí -->
    </div>
    <div>Versión 0.3.8</div>
  </div>
</footer>
